@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Jost';
  src: url("../font/Jost-light/subset-Jost-Light.woff2") format("woff2"), url("../font/Jost-light/subset-Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Jost';
  src: url("../font/Jost-regular/subset-Jost-Regular.woff2") format("woff2"), url("../font/Jost-regular/subset-Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Jost';
  src: url("../font/Jost-medium/subset-Jost-Medium.woff2") format("woff2"), url("../font/Jost-medium/subset-Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
.header {
  background-color: #161616;
  padding: 24px 0 26px;
  /* логотип */
  /* мобильная кнопка меню */ }
  .header__row {
    margin-bottom: 18px;
    /* черта разделитель */ }
    .header__row > .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header__row::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 23px;
      background-color: #FEC901;
      -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5); }
  .header__logo_link {
    display: inline-block;
    vertical-align: top; }
  .header__logo_image {
    width: 155px;
    height: 69px;
    display: inline-block;
    vertical-align: top; }
  .header .hamburger {
    display: none;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    /* мобильная кнопка меню (закрыть) */ }
    .header .hamburger:hover .hamburger__middle-part, .header .hamburger:hover .hamburger__middle-part::before, .header .hamburger:hover .hamburger__middle-part::after {
      background-color: #FEC901; }
    .header .hamburger__middle-part {
      width: inherit;
      height: 3px;
      background-color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
      .header .hamburger__middle-part::before, .header .hamburger__middle-part::after {
        content: '';
        display: block;
        width: inherit;
        position: absolute;
        background-color: #FFFFFF;
        height: 3px;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
      .header .hamburger__middle-part::before {
        top: -10px; }
      .header .hamburger__middle-part::after {
        top: 10px; }
    .header .hamburger_close:hover .hamburger__middle-part, .header .hamburger_close .hamburger__middle-part {
      background-color: transparent; }
      .header .hamburger_close:hover .hamburger__middle-part::before, .header .hamburger_close .hamburger__middle-part::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0; }
      .header .hamburger_close:hover .hamburger__middle-part::after, .header .hamburger_close .hamburger__middle-part::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 0; }

/* блок инфо */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500; }
  .info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 23px; }
    .info__item:first-child {
      margin-left: 0; }
  .info__text {
    margin-right: 5px; }
  .info__link {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF; }
    .info__link:hover {
      color: #FEC901; }
    .info__link_text {
      display: inline-block;
      vertical-align: top; }
    .info__link_icon {
      display: none;
      font-size: 30px; }

/* навигационное меню */
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.menu__item {
  margin-left: 34px; }
  .menu__item:first-child {
    margin-left: 0; }
.menu__link {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF; }
  .menu__link:hover {
    color: #FEC901; }

.services {
  padding: 46px 0 15px;
  background-color: #161616;
  -webkit-box-shadow: 12px 8px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 8px 24px rgba(0, 0, 0, 0.25);
  /* желтая плашка */ }
  .services__about-us {
    max-width: 1060px;
    min-height: 60px;
    margin: auto;
    background-color: #FEC901;
    border-radius: 0 0 35px 35px; }
    .services__about-us_inner {
      width: 100%;
      min-height: 60px;
      padding: 0 76px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 15px 36px; }
    .services__about-us_img {
      display: inline-block;
      vertical-align: top; }

.slider {
  max-width: 1136px;
  height: 436px;
  margin: 0 auto 27px;
  position: relative; }
  .slider .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slider__item {
    height: 100%; }
  .slider__info-wrapper, .slider__image-wrapper {
    width: 50%;
    height: 100%; }
  .slider__info-wrapper {
    padding: 35px 0;
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: none; }
    .slider__info-wrapper::-webkit-scrollbar {
      width: 0px;
      background: rgba(255, 255, 255, 0); }
  .slider__title {
    font-size: 36px;
    font-weight: 500;
    /* letter-spacing: 0.2rem; */
    margin-bottom: 14px; }
  .slider__text {
    margin-bottom: 32px; }
  .slider__button {
    padding: 11px 36px;
    border: none;
    background-color: #FEC901;
    font-weight: 500;
    color: black;
    cursor: pointer; }
  .slider__img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%; }

.pagination__prev,
.pagination__next {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 300;
  color: #FEC901;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer; }

.pagination__prev {
  top: 30px; }
  .pagination__prev::after {
    content: '';
    display: block;
    height: 130px;
    width: 1px;
    background-color: #FEC901;
    position: absolute;
    top: 100%;
    right: 50%;
    cursor: auto; }

.pagination__next {
  bottom: 45%; }

.how-it-work {
  padding: 120px 0 76px;
  background-color: #161616;
  background-image: url(../img/Vector27.svg), url(../img/decorative-thing.svg);
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: 0 0, 100% 132px; }
  .how-it-work__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 943px;
    margin: 0 auto 87px; }
    .how-it-work__title_smal {
      display: inline-block;
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 400;
      position: relative; }
      .how-it-work__title_smal::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 1px;
        background-color: #FEC901;
        position: absolute;
        top: 50%;
        left: -30px; }
  .how-it-work__demonstration {
    max-width: 798px;
    margin: auto; }

.demonstration {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  grid-template-rows: 120px 1fr; }
  .demonstration__item {
    max-width: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    justify-self: center; }
    .demonstration__item:first-child {
      justify-self: start; }
    .demonstration__item:last-child {
      justify-self: end; }
    .demonstration__item:nth-child(odd) {
      grid-row: 1/-1; }
    .demonstration__item:nth-child(even) {
      grid-row: 2/3; }

.all-services {
  padding: 30px 0 137px;
  background-color: #161616;
  background-image: url(../img/Vector28.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  overflow: hidden; }
  .all-services__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 943px;
    margin: 0 auto 56px; }
    .all-services__title_smal {
      display: inline-block;
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 400;
      position: relative; }
      .all-services__title_smal::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 1px;
        background-color: #FEC901;
        position: absolute;
        top: 50%;
        left: -30px; }
  .all-services__slider {
    max-width: 1046px;
    height: 276px;
    margin: auto; }
    .all-services__slider > .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px; }
      .all-services__slider > .slick-dots li {
        margin-right: 12px; }
        .all-services__slider > .slick-dots li:last-child {
          margin-right: 0; }
      .all-services__slider > .slick-dots .slick-active button {
        opacity: 1; }
      .all-services__slider > .slick-dots button {
        font-size: 0;
        padding: 0;
        border: none;
        width: 43px;
        height: 4px;
        border-radius: 8px;
        background-color: #FEC901;
        opacity: 0.2;
        outline: none;
        cursor: pointer; }
    .all-services__slider .slick-slide {
      margin: 0 34px; }
    .all-services__slider .slick-list {
      margin-left: -34px;
      margin-right: -34px; }

.card {
  margin: auto;
  max-width: 236px;
  min-height: 276px;
  padding: 17px;
  padding-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: #2D2E2A;
  -webkit-box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.0075em; }
  .card__image {
    display: block;
    width: 100%;
    height: 92px; }
  .card__title {
    font-weight: 500;
    margin-bottom: 8px;
    position: relative; }
    .card__title::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      height: 11px;
      width: 1px;
      background-color: #FEC901;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: -7px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .card__text {
    font-weight: 300;
    margin-bottom: 4px; }
  .card__read-more {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    color: #FEC901;
    position: relative; }
    .card__read-more::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 5px;
      background-image: url(../img/as-buuton-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: -38px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.screen {
  padding: 35px 0 142px;
  background-color: #161616;
  overflow: hidden; }
  @media (max-width: 1439px) {
    .screen .screen__image-wrapper {
      max-width: 80%; } }
  .screen__image-wrapper {
    max-width: 1140px;
    max-height: 584px;
    margin: auto;
    position: relative; }
    .screen__image-wrapper::before, .screen__image-wrapper::after {
      content: '';
      display: block;
      width: 50vw;
      height: 100px;
      background-color: #FEC901;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1; }
    .screen__image-wrapper::before {
      background-image: url(../img/screen-bee-l.svg);
      background-position: right 40px center;
      top: 164px;
      right: 100%; }
    .screen__image-wrapper::after {
      background-image: url(../img/screen-bee-r.svg);
      background-position: left 30px center;
      bottom: 123px;
      left: 100%; }
  .screen__image {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
    -webkit-filter: drop-shadow(12px 8px 15px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(12px 8px 15px rgba(0, 0, 0, 0.5)); }

.calculator {
  padding: 71px 0 53px;
  background-color: #FEC901;
  color: black;
  background-image: url(../img/form-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom; }
  .calculator__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 943px;
    margin: 0 auto 56px; }
    .calculator__title_smal {
      display: inline-block;
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 400;
      position: relative; }
      .calculator__title_smal::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 1px;
        background-color: #303030;
        position: absolute;
        top: 50%;
        left: -30px; }

.form {
  max-width: 1120px;
  min-height: 408px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 22px; }
  .form__input {
    max-width: 360px;
    height: 44px;
    padding: 12px 24px;
    background-color: #FEC901;
    border: 1px solid black; }
    .form__input::-webkit-input-placeholder {
      color: #303030; }
    .form__input:-ms-input-placeholder {
      color: #303030; }
    .form__input::-ms-input-placeholder {
      color: #303030; }
    .form__input::placeholder {
      color: #303030; }
    .form__input_name {
      grid-column: 1/2;
      grid-row: 1/2; }
    .form__input_room {
      grid-column: 1/2;
      grid-row: 2/3; }
    .form__input_phone {
      grid-column: 1/2;
      grid-row: 3/4; }
    .form__input_district {
      grid-column: 2/3;
      grid-row: 1/2; }
    .form__input_square {
      grid-column: 2/3;
      grid-row: 2/3; }
    .form__input_clean {
      grid-column: 3/4;
      grid-row: 1/2; }
    .form__input_place {
      grid-column: 3/4;
      grid-row: 2/3; }
  .form__textarea {
    grid-column: 1/3;
    grid-row: 4/5;
    max-width: 740px;
    min-height: 140px;
    padding: 12px 24px;
    border: 1px solid black;
    background-color: #FEC901;
    resize: none;
    margin: 15px 0; }
    .form__textarea::-webkit-input-placeholder {
      color: #303030; }
    .form__textarea:-ms-input-placeholder {
      color: #303030; }
    .form__textarea::-ms-input-placeholder {
      color: #303030; }
    .form__textarea::placeholder {
      color: #303030; }
  .form__check {
    grid-column: 2/4;
    grid-row: 3/4; }
    .form__check_description {
      font-weight: 500; }
    .form__check-wrapper {
      display: inline-block;
      vertical-align: top;
      margin-right: 4px; }
      .form__check-wrapper:last-child {
        margin-right: 0; }
    .form__check_label {
      position: relative;
      cursor: pointer; }
      .form__check_label::before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 1px solid #303030;
        position: absolute;
        top: 50%;
        left: -20px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 1; }
  .form__checkbox {
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer; }
    .form__checkbox:checked + .form__check_label::before {
      background-image: url(../img/check-sign.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .form__submit {
    grid-column: 1/2;
    grid-row: 5/6;
    max-width: 192px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 12px 60px;
    background-color: #161616;
    border: none;
    cursor: pointer; }

.price-list {
  padding: 116px 0 94px;
  background-color: #161616;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9.75%, #161616), to(rgba(22, 22, 22, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(9.75%, #161616), to(rgba(22, 22, 22, 0))), url(../img/honeycomb.jpg) no-repeat center;
  background: linear-gradient(180deg, #161616 9.75%, rgba(22, 22, 22, 0) 100%), linear-gradient(360deg, #161616 9.75%, rgba(22, 22, 22, 0) 100%), url(../img/honeycomb.jpg) no-repeat center;
  background-size: cover;
  color: #FFFFFF; }
  .price-list__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 943px;
    margin: 0 auto 56px; }
    .price-list__title_smal {
      display: inline-block;
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 400;
      position: relative; }
      .price-list__title_smal::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 1px;
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: -30px; }
  .price-list__inner {
    max-width: 983px;
    margin: auto;
    position: relative; }
    .price-list__inner::before {
      content: '';
      display: block;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #FFFFFF;
      background-image: url(../img/tel.png);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
      background-size: 80%;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 2;
      display: none; }
  .price-list__table-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 70px;
    margin-bottom: 32px; }
  .price-list__table-1 {
    max-width: 481px; }
    .price-list__table-1 tr {
      display: grid;
      grid-template-columns: 265px 216px; }
      .price-list__table-1 tr::after {
        right: 216px; }
  .price-list__table-2 {
    max-width: 432px; }
    .price-list__table-2 tr {
      display: grid;
      grid-template-columns: minmax(-webkit-min-content, 243px) minmax(-webkit-min-content, 189px);
      grid-template-columns: minmax(min-content, 243px) minmax(min-content, 189px); }
      .price-list__table-2 tr::after {
        right: 189px; }
      .price-list__table-2 tr:last-of-type {
        grid-template-columns: 1fr; }
        .price-list__table-2 tr:last-of-type td {
          display: block; }
  .price-list__text {
    max-width: 835px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 37px; }
  .price-list__read-more {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    color: #FEC901;
    position: relative; }
    .price-list__read-more::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 5px;
      background-image: url(../img/as-buuton-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: -38px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .price-list .table {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400; }
    .price-list .table tr {
      min-height: 53px;
      position: relative; }
      .price-list .table tr::after {
        content: '';
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 1px;
        background-color: #FEC901;
        position: absolute;
        top: 0; }
      .price-list .table tr:last-child {
        border: 1px solid #FEC901; }
        .price-list .table tr:last-child::after {
          content: none; }
        .price-list .table tr:last-child td {
          border-bottom: 0; }
      .price-list .table tr:nth-last-child(2)::after {
        top: -10px; }
      .price-list .table tr td {
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 8px;
        background-color: #303030;
        background-clip: padding-box;
        border-bottom: 10px solid transparent; }
      .price-list .table tr th {
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 8px 10px;
        margin-top: 10px; }
      .price-list .table tr td:first-child, .price-list .table tr th:first-child {
        text-align: left; }
      .price-list .table tr td:last-child, .price-list .table tr th:last-child {
        text-align: center; }
    .price-list .table .table__head {
      font-size: 16px;
      font-weight: 500;
      color: #161616;
      padding-bottom: 10px;
      background-color: #FEC901;
      background-clip: content-box; }
      .price-list .table .table__head::after {
        background-color: transparent; }
    .price-list .table_color {
      color: #FEC901;
      font-weight: 500; }

body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.0075%;
  color: #FFFFFF; }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto; }

/* medium screen (769 to 1100)*/
@media (max-width: 1200px) {
  .slider {
    height: 336px; }
    .slider__title {
      font-size: 22px; }

  .pagination__prev::after {
    height: 80px; }

  .how-it-work {
    padding: 60px 0;
    background-image: url(../img/Vector27.svg);
    background-position: 0 0; }

  .all-services {
    padding-bottom: 80px; }
    .all-services__title {
      font-size: 20px; }
    .all-services .slick-slide {
      margin: 0 15px; }
    .all-services .slick-list {
      margin-left: -15px;
      margin-right: -15px; }

  .screen {
    padding-bottom: 80px; }
    .screen__image-wrapper::before, .screen__image-wrapper::after {
      height: 15%;
      background-size: auto 75%; }
    .screen__image-wrapper::before {
      top: 20%;
      background-position: right 20px center; }
    .screen__image-wrapper::after {
      bottom: 15%;
      background-position: left 20px center; }

  .price-list__table-wrapper {
    grid-template-columns: 1fr;
    justify-items: center; } }
/* tublet screen (581 to 768)*/
@media screen and (max-width: 768px) {
  .scrollOff {
    overflow: hidden; }

  .container {
    max-width: 1152px;
    padding: 0 10px; }

  /* заменяем текст на значки */
  .info__item {
    margin-left: 30px; }
  .info__text {
    display: none; }
  .info__link_text {
    display: none; }
  .info__link_icon {
    display: block; }

  .header {
    padding: 10px 0 0;
    position: relative;
    /* вертикальное меню */ }
    .header__row {
      margin: 0;
      position: relative;
      z-index: 4; }
    .header__logo_image {
      width: 100px; }
    .header__info > .hamburger {
      display: block; }
    .header__menu {
      padding-top: 20px;
      max-width: 250px;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 99px;
      right: -100%;
      z-index: 3;
      background-color: #161616;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .header__menu > .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header__menu > .menu__list .menu__item {
          width: 100%;
          margin: 0;
          padding: 8px 0;
          text-align: center; }
        .header__menu > .menu__list .menu__link:hover {
          color: #FEC901;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease; }
      .header__menu_open {
        right: 0;
        overflow-y: scroll;
        scrollbar-width: none; }
        .header__menu_open::-webkit-scrollbar {
          width: 0px;
          background: rgba(255, 255, 255, 0); }

  .services__about-us_inner {
    padding: 0 20px;
    -webkit-column-gap: 15px;
            column-gap: 15px; }

  .how-it-work__title {
    margin-bottom: 30px; }

  .demonstration {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 120px 1fr; }

  .all-services .slick-slide {
    margin: 0 15px; }
  .all-services .slick-list {
    margin-left: -15px;
    margin-right: -15px; }

  .form {
    grid-template-columns: 1fr 1fr; }
    .form__input_name {
      grid-column: 1/2;
      grid-row: 1/2; }
    .form__input_phone {
      grid-column: 2/3;
      grid-row: 1/2; }
    .form__input_room {
      grid-column: 1/2;
      grid-row: 2/3; }
    .form__input_square {
      grid-column: 2/3;
      grid-row: 2/3; }
    .form__input_district {
      grid-column: 1/2;
      grid-row: 3/4; }
    .form__input_clean {
      grid-column: 2/3;
      grid-row: 3/4; }
    .form__input_place {
      grid-column: 1/2;
      grid-row: 4/5; }
    .form__check {
      grid-column: 2/-1;
      grid-row: 4/6;
      text-align: left; }
      .form__check-wrapper {
        display: block; }
    .form__textarea {
      grid-column: 1/2;
      grid-row: 5/7; }
    .form__submit {
      grid-column: 1/2;
      grid-row: 7/8;
      justify-self: center; } }
/* mobile screen (0 to 580)*/
@media screen and (max-width: 580px) {
  .slider {
    height: auto; }
    .slider .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .slider__info-wrapper {
      width: 100%;
      text-align: center; }
    .slider__image-wrapper {
      max-width: 400px; }

  .how-it-work {
    padding: 30px 0; }
    .how-it-work__title {
      font-size: 22px; }

  .services__about-us_inner {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
  .services__about-us_img {
    display: block; }

  .demonstration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;
    grid-auto-flow: dense;
    grid-template-rows: auto; }
    .demonstration__item:nth-child(odd) {
      grid-row: auto;
      justify-self: center; }
    .demonstration__item:nth-child(even) {
      grid-row: auto;
      justify-self: center; }

  .card {
    max-width: 90%;
    min-height: auto; }

  .all-services {
    padding-bottom: 0; }

  .screen {
    padding-bottom: 50px; }
    .screen__image-wrapper {
      min-width: 90%; }
      .screen__image-wrapper::before, .screen__image-wrapper::after {
        height: 15%;
        background-size: auto 60%; }
      .screen__image-wrapper::before {
        top: 20%;
        background-position: right 3px center; }
      .screen__image-wrapper::after {
        bottom: 15%;
        background-position: left 3px center; }

  .calculator__title {
    font-size: 22px; }

  .form {
    grid-template-columns: 1fr;
    justify-items: center; }
    .form__input {
      min-width: 80%; }
      .form__input_name {
        grid-column: auto;
        grid-row: auto; }
      .form__input_phone {
        grid-column: auto;
        grid-row: auto; }
      .form__input_room {
        grid-column: auto;
        grid-row: auto; }
      .form__input_square {
        grid-column: auto;
        grid-row: auto; }
      .form__input_district {
        grid-column: auto;
        grid-row: auto; }
      .form__input_clean {
        grid-column: auto;
        grid-row: auto; }
      .form__input_place {
        grid-column: auto;
        grid-row: auto; }
    .form__check {
      grid-column: auto;
      grid-row: auto; }
    .form__textarea {
      grid-column: auto;
      grid-row: auto;
      min-width: 80%; }
    .form__submit {
      grid-column: auto;
      grid-row: auto;
      justify-self: center; }

  .price-list__title {
    font-size: 22px; }
  .price-list__table-wrapper {
    overflow-x: auto; } }
@media screen and (max-width: 580px) and (orientation: portrait) {
  .price-list__inner {
    padding-top: 300px; }
    .price-list__inner::before {
      display: block; }

  .table {
    display: none; } }
