@font-face {
    font-family: 'Jost';
    src: url('subset-Jost-Regular.woff2') format('woff2'),
        url('subset-Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

