@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-light/subset-Jost-Light.woff2') format('woff2'),
        url('../font/Jost-light/subset-Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-regular/subset-Jost-Regular.woff2') format('woff2'),
        url('../font/Jost-regular/subset-Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-medium/subset-Jost-Medium.woff2') format('woff2'),
        url('../font/Jost-medium/subset-Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}