@font-face {
    font-family: 'Jost';
    src: url('subset-Jost-Medium.woff2') format('woff2'),
        url('subset-Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

